.Contacto{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px auto;
    margin-bottom: 2rem;
    flex-direction: column;
}

/* Texto contacto */
.TextoContacto{
    width: 100%;
    text-align: center;
}

.TextoContacto h2{
    width: 100%;
    font-size: 60px;
}

.TextoContacto h3{
    width: 100%;
    font-size: 30px;
}

.Form{
    width: 60%;
    max-width: 60%;
}

@media (max-width:640px){
    .Form{
        width: 85%;
        max-width: 85%;
    }

    .TextoContacto{
        width: 85%;
    }
}

form{
    max-width: 420px;
    margin: auto;
    padding-top: 20px;
}

.input {
    color:#000000;
    font-family: 'Raleway', sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #000;
    transition: all 0.2s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.input:focus{
    border:2px solid #5e614e;
}

textarea{
    height: 150px;
    line-height: 150%;
    resize:none;
    margin-bottom: 15px;
}

input::placeholder, textarea::placeholder{
    color: #000000;
    opacity: 0.5;
}

.checkbox{
    cursor: pointer;
    margin-bottom: 15px;
}

.Btn_Enviar{
    width: 100%;
    border: 2px solid #000000;
    border-radius:5px;
    cursor:pointer;
    color:#000000;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.4s;

    font-weight:700;
}

.Btn_Enviar:hover{
    color: #ffffff;
    border:2px solid transparent;
    background:#5e614e;
}