.Amenidades{
    padding: 30px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("Images/Logos/Background.png");
    z-index: -1;
    background: #5e614e;
}

.En_Amenidades{
    width: 30%;
}

.carousel{
    background-color: #000000;
    z-index: 0;
    width: 60%;
    margin: 2rem;
}

@media (max-width:1024px) {
    .Amenidades{
        padding: 15px;
        flex-direction: column;
        justify-content: center;
    }

    .En_Amenidades{
        width: 90%;
    }

    .carousel{
        width: 90%;
        margin: 0.5rem;
    }
}