.Proyecto{
    width: 100%;
    padding: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: #ffffff;
    background-image: url("../scr/assets/Background/BG_1.png");
    background-size: 100% 100%;
}

.En_Proyecto{
    width: 30%;
}

.En_Proyecto h2{
    margin: 2rem 0;
}

.En_Proyecto p{
    color: #000000;
    text-align: justify;
    font-size: 18px;
}

.Galeria_Proyecto{
    width: 60%;
    position: relative;
    margin: 2rem;
    z-index: 0;
}

.Contenedor_Imagenes_Proyecto{
    position: relative;
    width: 100%;
}
.Imagen_Proyecto{
    position: relative;
    width: 100%;
    display: none;
}
.ImagenActiva{
    display: block;
}

.Contenedor_Imagenes_Proyecto img{
    max-width: 100%;
    max-height: 100%;
}

.ImagenAnterior, .ImagenSiguiente{
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #5e614e;
    color: #ffffff;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}

.ImagenAnterior:hover, .ImagenSiguiente:hover{
    background: hsl(0 0% 0% / 0.9);
}

.ImagenAnterior{
    left: 15px;
}
.ImagenSiguiente{
    right: 15px;
}

@media (max-width:1024px) {
    .Proyecto{
        padding: 15px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .En_Proyecto{
        width: 90%;
    }

    .Galeria_Proyecto{
        width: 90%;
        margin: 20px 0;
    }
}

@media only screen and (max-width : 415px) {
    .En_Proyecto h2{
        width: 100%;
        font-size: 30px;
    }
    
    .En_Proyecto p{
        width: 100%;
        font-size: 18px;
    }
}