li, ul{
    margin: 0;
    padding: 0;
}

.Prototipos{
    width: 100%;
    height: 75vh;
    flex-direction: column;
    align-items: center;
    background: #5e614e;
}

.En_Prototipo h2{
    margin: 1.5rem 0 0 0;
}

.Galeria_Prototipos{
    display: flex;
    flex-grow: 0.95;
    max-width: 65rem;
    box-sizing: border-box;
}

.Contenedor_Imagenes_Prototipo{
    margin: 0 1%;
    flex-grow: 1;
    height: 95%;
    width: 25%;
    cursor: pointer;
}

.Contenedor_Imagenes_Prototipo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
    opacity: 0.5;
}

.Tipo h3{
    text-align: center;
    font-size: 22px;
    color: white;
    margin: 20px;
}

.Contenedor_Imagenes_Prototipo img:hover{
    opacity: 1;
}

.modal{
    cursor: default;
}

.modal-title{
    width: 100%;
    text-align: center;
}

.Contenido_Modal{
    width: 100%;
}

.Imagen_Prototipo img{
    opacity: 1;
    width: 100%;
}

.Informacion_Prototipo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 20px;
}

.Informacion_Prototipo h2{
    margin-bottom: 10px;
}

.Lista_Modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 415px) {
    .Tipo h3{
        margin: 14px;
        font-size: 10px;
    }
}

@media (max-width:1024px) {
    .Prototipos{
        padding: 15px;
        height: 55vh;
    }

    .Galeria_Prototipos{
        margin: 0.5rem;
    }
}

@media only screen and (max-width : 415px) {
    .En_Prototipo h2{
        width: 100%;
        font-size: 30px;
    }
}