.Prototipos{
    width: 100%;
    height: 75vh;
    flex-direction: column;
    align-items: center;
    background: #5e614e;
}

.Galeria_Prototipos{
    display: flex;
    flex-grow: 0.95;
    max-width: 65rem;
    margin: 0 2rem 2rem 2rem;
    box-sizing: border-box;
}

.Contenedor_Imagenes_Prototipo{
    margin: 0 1%;
    flex-grow: 1;
    height: 100%;
}

.Contenedor_Imagenes_Prototipo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
    opacity: 0.5;
}

.Tipo h3{
    padding: 10px;
    text-align: center;
    font-size: 22px;
    color: white;
}

.Contenedor_Imagenes_Prototipo img:hover{
    opacity: 1;
}

@media (max-width: 415px) {
    .Tipo h3{
        font-size: 15px;
    }
}

@media (max-width:1024px) {
    .Prototipos{
        padding: 15px;
        height: 60vh;
    }

    .Galeria_Prototipos{
        margin: 0.5rem;
    }
}