.Proyecto{
    width: 100%;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #ffffff;
    background-image: url("../scr/assets/Background/BG_1.png");
    background-size: 100% 100%;
}

.En_Proyecto{
    width: 50%;
}

.En_Proyecto h2{
    margin: 2rem 0;
}

.En_Proyecto p{
    color: #000000;
    text-align: center;
    font-size: 16px;
}

.MasterPlan, .DescripcionGeneral {
    width: 75%;
    margin: 20px;
}

.MasterPlan img, .DescripcionGeneral img{
    max-width: 100%;
}


@media (max-width:1024px) {
    .Proyecto{
        padding: 15px;
        flex-direction: column;
        justify-content: center;
    }

    .MasterPlan, .DescripcionGeneral {
        width: 100%;
    }

    .En_Proyecto{
        width: 90%;
    }

    .Galeria_Proyecto{
        width: 90%;
        margin: 20px 0;
    }
}

@media only screen and (max-width : 415px) {
    .En_Proyecto h2{
        width: 100%;
        font-size: 30px;
    }
    
    .En_Proyecto p{
        width: 100%;
        font-size: 16px;
    }
}