*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    /* background: #5e614e; */
    overflow-x: hidden;
}

a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

li{
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1,h2,h3{
    font-weight: normal;
    margin: 0;
    padding: 0;
}

img{
    margin: 0;
    padding: 0;
}

.Flex{
    display: flex;
    gap: var(--gap, 1rem);
}

/* ---------- Whatapp Icon ---------- */
.Whatsapp_Icon{
    height: 70px;
    width: 70px;
    position: fixed;
    top: 400px;
    left: 20px;
    z-index: 1;
}

.Whatsapp_Icon img{
    height: 70px;
    width: 70px;
}

/* ---------- Menu de navegacion ---------- */
.Header{
    order: 1;
    background: hsl(0 0% 0% / 0.7);
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 1;
}

.Logo{
    margin: 1rem;
}

.Menu_Movil{
    display: none;
}

.Logo img{
    aspect-ratio: 1;
    width: 4rem;
}

.Menu_Navegacion{
    font-size: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.Menu_Navegacion a{
    color: #ffffff;
    text-decoration: none;
    margin-inline-end: 1em;
}

.Menu_Navegacion a:hover{
    color: #6f6f6e;
    transition: 0.5s;
}

.Menu_Navegacion img{
    aspect-ratio: 1;
    width: 2.5rem;
    opacity: 0.7;
    }

    .Menu_Navegacion img:hover{
        opacity: 1;
        cursor: pointer;
    }

/* ----------Menu desplegable ---------- */
@media (max-width:53em) {
    .Header{
        background: hsl(0 0% 0% / 0.9);
        position: fixed;
    }

    .Logo img{
        aspect-ratio: 1;
        width: 2rem;
    }

    .Menu_Navegacion{
        font-size: 20px;
        background: hsl(0 0% 0% / 0.9);
        z-index: 1000;
        position: fixed;
        inset: 0 0 0 50%;
        flex-direction: column;
        padding: min(40vh, 3rem);
        transform: translateX(100%); /*Ocultamos el menu*/
        transition: transform 350ms ease-out; /*Animacion de menu plegable*/
    }

    .Menu_Navegacion a:hover{
        background-color: transparent;
    }


    .Menu_Navegacion[data-visible="true"]{
        transform: translateX(0%);
    }

    .Menu_Movil{
        display: block;
        position: absolute;
        z-index: 9999;
        background: url("Images/Icon/Open_Menu.png");
        background-repeat: no-repeat;
        width: 2rem;
        aspect-ratio: 1;
        top: 1.25rem;
        right: 1.25rem;
        border: none;
    }

    .Menu_Movil[aria-expanded = "true"]{
        background: url("Images/Icon/Close_Menu.png");
        background-repeat: no-repeat;
    }
}

/* ---------- Encabezados ---------- */
.Encabezado{
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-top: 1rem;
    color: #000000;
}

.Encabezado_Blanco{
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-top: 1rem;
    color: #ffffff;
}

/* ---------- Galeria Principal ---------- */
.Galeria_Principal{
    height: 100vh;
    position: relative;
}

.Contenedor_Imagenes_GaleriaPrincipal img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: width: 100vw; */
    height: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: height: 100vh; */ 
    object-fit: cover;
    z-index:-1;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
}

/* @media (max-width:53em){
    .Galeria_Principal{
        margin-top: 88px;
    }
} */

/* ---------- Proyecto ---------- */
.Proyecto{
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: #5e614e;
}

.Galeria_Proyecto{
    max-width: 65rem;
    position: relative;
    margin: 0 2rem 2rem 2rem;
}
.Contenedor_Imagenes_Proyecto{
    position: relative;
    width: 100%;
}
.Imagen_Proyecto{
    position: relative;
    width: 100%;
    display: none;
}
.ImagenActiva{
    display: block;
}

.Contenedor_Imagenes_Proyecto img{
    max-width: 100%;
    max-height: 100%;
}

.ImagenAnterior, .ImagenSiguiente{
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #5e614e;
    color: #ffffff;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}

.ImagenAnterior:hover, .ImagenSiguiente:hover{
    background: hsl(0 0% 0% / 0.9);
}

.ImagenAnterior{
    left: 15px;
}
.ImagenSiguiente{
    right: 15px;
}

/* ---------- Amenidades ---------- */
.Amenidades{
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.Galeria_Amenidades{
    max-width: 65rem;
    overflow-x: hidden;
    border-radius: 8px;
    margin: 0 2rem 2rem 2rem;
}

.Contenedor_Imagenes_Amenidades{
    width: 100%;
    display: flex;
    animation: slide 20s infinite;
}

.Galeria_Amenidades img{
    width: 100%;
    height: 100%;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

/* ---------- Prototipo ---------- */
.Prototipos{
    width: 100%;
    height: 70vh;
    background: #5e614e;
    border: 1px solid #5e614e;
    flex-direction: column;
    align-items: center;
}

.Galeria_Prototipos{
    max-width: 65rem;
    flex-grow: 1;
    margin: 0 2rem 2rem 2rem;
    display: flex;
    box-sizing: border-box;
}

.Contenedor_Imagenes_Prototipo{
    margin: 0 1%;
    flex-grow: 1;
    flex-basis: 0;
    transition: 0.5s;
}

.Contenedor_Imagenes_Prototipo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.Contenedor_Imagenes_Prototipo:hover{
    flex-basis: 50%;
}

/* ---------- Contacto ---------- */
.Contacto{
    width: 100%;
    flex-direction: column;
    align-items: center;
}

/* -- Contacto -- */
.Contacto{
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 15px auto;
    margin:auto;
}

.Form{
    width: 60%;
    max-width: 60%;
    margin: 20px;
}

form{
    max-width: 420px;
    margin: auto;
    padding-top: 20px;
}

.TextoContacto h2{ 
    width: 100%;
    font-size: 40px;
}

.TextoContacto h3{
    width: 100%;
    margin: 15px 0;
    font-size: 20px;
}

.input {
    color:#000000;
    font-family: 'Raleway', sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #000;
    transition: all 0.2s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.input:focus{
    border:2px solid #5e614e;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize:none;
}

.Btn_Enviar{
    width: 100%;
    border: 2px solid #000000;
    border-radius:5px;
    cursor:pointer;
    color:#000000;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

.Btn_Enviar:hover{
    color: #ffffff;
    border:2px solid transparent;
    background:#5e614e;
}

/* -- Footer --*/
.Footer{
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    background-color: #5e614e;
}

@media (max-width:53em){
    .Footer{
        font-size: 100%;
    }
}