*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    /* background: #5e614e; */
    overflow-x: hidden;
}

a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

li{
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

p{
    margin: 0;
    padding: 0;
}

h1,h2,h3{
    font-weight: normal;
    margin: 0;
    padding: 0;
}

img{
    margin: 0;
    padding: 0;
}

.Flex{
    display: flex;
    gap: var(--gap, 1rem);
}

/* ---------- Whatapp Icon ---------- */
.Whatsapp_Icon{
    height: 70px;
    width: 70px;
    position: fixed;
    bottom: 20px;    
    left: 20px;
    z-index: 1;
}

.Whatsapp_Icon img{
    height: 4rem;
    width: 4rem;
}

/* ---------- Menu de navegacion ---------- */
.Header{
    order: 1;
    background: hsl(0 0% 0% / 0.4);
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 1;
}

.Logo{
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Logo h2{
    font-size: 25px;
    color: #ffffff;
}

.LS{
    margin: 1rem 0 1rem 1rem;
    height: 3.5rem;
}

.LA{
    height: 2rem;
}

.Menu_Movil{
    display: none;
}

.Menu_Navegacion{
    font-size: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.Menu_Navegacion a{
    color: #ffffff;
    text-decoration: none;
    margin-inline-end: 1em;
}

.Menu_Navegacion a:hover{
    color: #6f6f6e;
    transition: 0.5s;
}

.Menu_Navegacion img{
    aspect-ratio: 1;
    width: 2.5rem;
    opacity: 0.7;
    }

    .Menu_Navegacion img:hover{
        opacity: 1;
        cursor: pointer;
    }

/* ----------Menu desplegable ---------- */
@media (max-width:1300px) {
    .Header{
        background: hsl(0 0% 0% / 0.9);
        position: fixed;
    }

    .LS{
        height: 2.75rem;
    }

    .LA{
        height: 1.5rem;
    }

    .Logo h2{
        font-size: 20px;
        color: #ffffff;
    }

    .Menu_Navegacion{
        font-size: 20px;
        background: hsl(0 0% 0% / 0.9);
        z-index: 1000;
        position: fixed;
        inset: 0 0 0 50%;
        flex-direction: column;
        padding: min(40vh, 3rem);
        transform: translateX(100%); /*Ocultamos el menu*/
        transition: transform 350ms ease-out; /*Animacion de menu plegable*/
    }

    .Menu_Navegacion a:hover{
        background-color: transparent;
    }


    .Menu_Navegacion[data-visible="true"]{
        transform: translateX(0%);
    }

    .Menu_Movil{
        display: block;
        position: absolute;
        z-index: 9999;
        background: url("Images/Icon/Open_Menu.png");
        background-repeat: no-repeat;
        width: 2rem;
        aspect-ratio: 1;
        top: 1.25rem;
        right: 1.25rem;
        border: none;
    }

    .Menu_Movil[aria-expanded = "true"]{
        background: url("Images/Icon/Close_Menu.png");
        background-repeat: no-repeat;
    }
}

/* ---------- Encabezados ---------- */
.Encabezado, .Encabezado_Blanco{
    text-align: center;
}

.Encabezado h2{
    text-align: center;
    font-size: 60px;
    margin: 2rem;
    color: #000000;
}

.Encabezado_Blanco h2{
    text-align: center;
    font-size: 60px;
    margin: 2rem;
    color: #ffffff;
}

@media (max-width:1024px) {
    .Encabezado h2, .Encabezado_Blanco h2{
        margin: 1rem;
    }
}

@media (max-width:1024px) {
    .Encabezado h2, .Encabezado_Blanco h2{
        font-size: 40px;
    }
}

/* ---------- Galeria Principal ---------- */
.Galeria_Principal {
    height: 100vh;
    position: relative;
}

.Contenedor_Imagenes_GaleriaPrincipal img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    z-index:-1;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
}

/* ---------- Proyecto ---------- */
.Proyecto{
    width: 100%;
    padding: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.Galeria_Proyecto{
    max-width: 65rem;
    position: relative;
    margin: 2rem;
}
.Contenedor_Imagenes_Proyecto{
    position: relative;
    width: 100%;
}
.Imagen_Proyecto{
    position: relative;
    width: 100%;
    display: none;
}
.ImagenActiva{
    display: block;
}

.Contenedor_Imagenes_Proyecto img{
    max-width: 100%;
    max-height: 100%;
}

.ImagenAnterior, .ImagenSiguiente{
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #5e614e;
    color: #ffffff;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}

.ImagenAnterior:hover, .ImagenSiguiente:hover{
    background: hsl(0 0% 0% / 0.9);
}

.ImagenAnterior{
    left: 15px;
}
.ImagenSiguiente{
    right: 15px;
}

@media (max-width:1024px) {
    .Proyecto{
        padding: 15px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .Galeria_Proyecto{
        margin: 0.5rem;
    }
}

/* ---------- Amenidades ---------- */
.Amenidades{
    padding: 30px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("Images/Logos/Background.png");
    z-index: -1;
    background: #5e614e;
}

.carousel{
    background-color: #000000;
    z-index: 0;
    max-width: 65rem;
    margin: 2rem;
}

@media (max-width:1024px) {
    .Amenidades{
        padding: 15px;
        flex-direction: column;
        justify-content: center;
    }

    .carousel{
        margin: 0.5rem;
    }
}

/* ---------- Prototipo ---------- */
.Prototipos{
    width: 100%;
    height: 75vh;
    flex-direction: column;
    align-items: center;
}

.Galeria_Prototipos{
    max-width: 65rem;
    flex-grow: 1;
    margin: 0 2rem 2rem 2rem;
    display: flex;
    box-sizing: border-box;
}

.Contenedor_Imagenes_Prototipo{
    margin: 0 1%;
    flex-grow: 1;
    flex-basis: 0;
    transition: 0.5s;
}

.Contenedor_Imagenes_Prototipo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
    opacity: 0.5;
}

.Contenedor_Imagenes_Prototipo img:hover{
    opacity: 1;
}

@media (max-width:1024px) {
    .Prototipos{
        padding: 15px;
        height: 60vh;
    }

    .Galeria_Prototipos{
        margin: 0.5rem;
    }
}

/* ---------- Ubicacion ---------- */
.Ubicacion {
    position: relative;
    width: 100%;
    height: 100vh;
}

.Ubicacion img{
    width: 100%;
    height: 100%;
}

.Boton_Ubicacion{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 30px;
    left: 48%;
}

.Boton_Ubicacion i{
    color: #000000;
}

.Boton_Ubicacion .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.Boton_Ubicacion .tooltip {
    position: absolute;
    top: 0;
    font-size: 1.25rem;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.Boton_Ubicacion .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.Boton_Ubicacion .maps:hover,
.Boton_Ubicacion .maps:hover .tooltip,
.Boton_Ubicacion .maps:hover .tooltip::before {
    background-color: #F6CF65;
    color: #000000;
}

@media (max-width:1024px) {
    .Ubicacion{
        height: 60vh;
    }

    .Boton_Ubicacion{
        left: 46%;
    }
}

@media(max-width:768px){
    .Ubicacion{
        height: 50vh;
    }
}

/* ---------- Contacto ---------- */
.Contacto{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px auto;
    margin:auto;
    flex-direction: column;
}

/* Texto contacto */
.TextoContacto{
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    margin-bottom: 0;
}

.TextoContacto h2{
    width: 100%;
    font-size: 60px;
}

.TextoContacto h3{
    width: 100%;
    font-size: 30px;
}

.Form{
    width: 60%;
    max-width: 60%;
}

@media (max-width:640px){
    .Form{
        width: 85%;
        max-width: 85%;
    }

    .TextoContacto{
        width: 85%;
    }
}

form{
    max-width: 420px;
    margin: auto;
    padding-top: 20px;
}

.input {
    color:#000000;
    font-family: 'Raleway', sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #000;
    transition: all 0.2s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.input:focus{
    border:2px solid #5e614e;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize:none;
}

input::placeholder, textarea::placeholder{
    color: #000000;
    opacity: 0.5;
}

.Btn_Enviar{
    width: 100%;
    border: 2px solid #000000;
    border-radius:5px;
    cursor:pointer;
    color:#000000;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

.Btn_Enviar:hover{
    color: #ffffff;
    border:2px solid transparent;
    background:#5e614e;
}

/* ---------- Social Icons ---------- */
.Contenedor_SI{
    display: flex;
    justify-content:center;
    margin-bottom: 20px;
}

.icon{
    position: relative;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.Contenedor_SI .icon:hover span{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.Contenedor_SI .facebook:hover{
    background-color: #3b5999;
    color: #ffffff;
}

.Contenedor_SI .instagram:hover{
    background-color: #e1306c;
    color: #ffffff;
}

.Contenedor_SI .youtube:hover{
    background-color: #de463b;
    color: #ffffff;
}

.Contenedor_SI .linkedin:hover{
    background-color: #0e76a8;
    color: #ffffff;
}

/* -- Footer --*/
.Footer{
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    background-color: #5e614e;
}

@media (max-width:53em){
    .Footer h2{
        font-size: 100%;
    }
}

@media (max-width:640px){
    .Footer h2{
        font-size: 15px;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (max-width : 1824px) {
    
}

/* iPads (landscape) ----------- */
@media only screen and (max-width : 1224px) {

}

/* iPads (portrait) ----------- */
@media only screen and (max-width : 1024px) {

}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 768px) {

}

/* Big smartphones (portrait) (ie: Galaxy 3 has 360)*/
@media only screen and (max-width : 640px) {

}

/* Smartphones (portrait) (ie: Galaxy 1) */
@media only screen and (max-width : 321px) {

}