@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

/* ---------- General ---------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-color: #5e614e;
}

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3{
    font-weight: normal;
    margin: 0;
    padding: 0;
}

img{
    margin: 0;
    padding: 0;
}

.Flex{
    display: flex;
}

/* ---------- Pagina Principal ---------- */
.Whatsapp_Icon{
    height: 70px;
    width: 70px;
    position: fixed;
    bottom: 20px;    
    left: 20px;
    z-index: 1;
}

.Whatsapp_Icon img{
    height: 4rem;
    width: 4rem;
}

.Fondo{
    position:fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.Fondo img{
    width: 100%;
    height: 100%;
}

.Proximamente{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.Logo_Satus{
    max-width: 70rem;
    max-height: 30rem;
    margin: 0 2rem;
}

@media only screen and (max-width:480px){
    .Logo_Satus{
        width: 100%;
    }
}


.Logo_Satus img{
    width: 100%;
    height: 100%;
}

.Encabezado{
    color: #ffffff;
    margin: 2rem 2rem 0 2rem;
}

.Encabezado h2{
    font-size: 5rem;
}

@media only screen and (max-width:768px){
    .Encabezado h2{
        font-size: 3rem;
    }
}

@media only screen and (max-width:480px){
    .Encabezado h2{
        font-size: 2rem;
    }
}

/* ---------- Social Icons ---------- */
.Contenedor_SI{
    display: flex;
    justify-content:center;
    margin: 2rem 2rem 0 2rem;
}

.icon{
    position: relative;
    border-radius: 50%;
    margin: 10px;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #ffffff;
}

.Contenedor_SI .icon:hover span{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.facebook a, .instagram a, .youtube a, .linkedin a,.whatsapp a, .googlemaps a{
    color: #ffffff;
}

.Contenedor_SI .facebook:hover{
    background-color: #3b5999;
    color: #ffffff;
}

.Contenedor_SI .instagram:hover{
    background-color: #e1306c;
    color: #ffffff;
}

.Contenedor_SI .youtube:hover{
    background-color: #de463b;
    color: #ffffff;
}

.Contenedor_SI .linkedin:hover{
    background-color: #0e76a8;
    color: #ffffff;
}

.Contenedor_SI .googlemaps:hover{
    background-color: #FF9900;
    color: #ffffff;
}

@media only screen and (max-width:480px){
    .icon{
        width: 2.5rem;
        height: 2.5rem;
    }
}